

{% extends 'base.html' %} 
{% block content %} 

  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
  <script>
    function convert() {
      // CODE FROM https://mathjax.github.io/MathJax-demos-web/

      //  Get the TeX input
      //
      var input = document.getElementById("content").value.trim();
  
      var button = document.getElementById("renderHTML");
      button.disabled  = true;
      //
      //  Clear the old output
      //
      output = document.getElementById('MathPreview');
      output.innerHTML = '';
      //
      //  Reset the tex labels (and automatic equation numbers, though there aren't any here).
      //  Get the conversion options (metrics and display settings)
      //  Convert the input to CommonHTML output and use a promise to wait for it to be ready
      //    (in case an extension needs to be loaded dynamically).
      //
      MathJax.texReset();
      var options = MathJax.getMetricsFor(output);
      options.display = true;
      MathJax.tex2chtmlPromise(input, options).then(function (node) {
        //
        //  The promise returns the typeset node, which we add to the output
        //  Then update the document to include the adjusted CSS for the
        //    content of the new equation.
        //
        output.appendChild(node);
        MathJax.startup.document.clear();
        MathJax.startup.document.updateDocument();
      }).catch(function (err) {
        //
        //  If there was an error, put the message into the output instead
        //
        output.appendChild(document.createElement('pre')).appendChild(document.createTextNode(err.message));
      }).then(function () {
        //
        //  Error or not, re-enable the display and render buttons
        //
        button.disabled = false;
      });
    }
  </script>
  <div>
	<link rel="stylesheet" type="text/css" href="/static/css/preview-highlight.css"/>
	<center><p id="content-preview" class="preview-upToDate"></p></center>
 	<form method="POST" action="/post_eq">
        <div class="form-group">
            <label for="name">Equation name</label>
            <input class="form-control" type="text" placeholder="Equation name" name="name" id="name">
        </div>
        <div class="form-group">
            <label for="content">LaTeX Equation </label>
            <input class="form-control" type="text" placeholder="LaTeX Equation" name="content" id="content">
        </div>
        <div class="form-group">
            <label for="tags">Equation tags</label>
            <input class="form-control" type="text" placeholder="Equation tags" name="tags" id="tags">
        </div>
        <div class="form-group">
            <label for="origin">Equation origin</label>
            <input class="form-control" type="text" placeholder="Equation origin" name="origin" id="origin">
        </div>
        <div class="form-group">
            <label for="description">Equation description</label>
            <input class="form-control" type="text" placeholder="Equation description" name="origin" id="origin">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <input type="button" value="Check LaTeX" id="renderHTML" onclick="convert()" style="float: right; font-size: initial; margin-top: .5em">
    </div>
    <div class="card">
        <div id="MathPreview" class="preview card-body">
        </div>
    </div>
    
{% endblock %} 
