<!doctype html>
{% extends 'base.html' %} 
{% block content %} 

    <h1 class="mt-4">Less Typing More Thinking</h1>
        <p>The goal of this project is to facilitate the use of LaTeX by providing a database of used equations for people to pick.</p>
        
        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
{% endblock %}
