
{% extends 'base.html' %} 
{% block content %} 

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}

  });
</script>
<script>
  $(document).ready(function() {
    $('#table1').DataTable( {
        "drawCallback": function( settings ) {         
            MathJax.Hub.Queue(["Typeset",MathJax.Hub]);     
            } 
        });  
    });

</script>

    <table id="table1" class="display compact table" width="100%" cellspacing="0">
            <thead class="thead-inverse">
                <tr>
                {% for c_name in c_names %}
                <th><font size="2.1">{{c_name}}</font></th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for line in table_data %}
                <tr>
                    {% for col in line %}
                        <td class="align-middle">
                        {% if loop.index == 2 %}
                        <a href='equation/{{line[0]}}'>{{col}} </a>
                        {% elif loop.index==3 %}
                        <p>\( {{col}} \)</p>
                        <p class="rawLatexCode"> {{col}} </p>
                        {% else %}
                        {{col}}  
                        {% endif %}
                        </td>
                        
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
    </table>

{% endblock %} 
