{% extends "base.html" %}

{% block content %}

    <h1>{{ _('Search Results') }} : {{total}} results </h1>

    <table id="table1" class="display compact" class="table" width="100%" cellspacing="0">
        <thead class="thead-inverse">
        <tr>
            {% for c_name in columns %}
                <th><font size="2.1">{{ c_name }}</font></th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for line in equations %}
            <tr>
                {% for col in columns %}
                    <td class="align-middle">
                        {% if loop.index == 2 %}
                            <a href='equation/{{ line["id"] }}'>{{ line[col] }} </a>
                        {% elif loop.index==3 %}
                            <p>\( {{ line[col] }} \)</p>
                            <p class="rawLatexCode"> {{ line[col] }} </p>
                        {% else %}
                            {{ line[col] }}
                        {% endif %}
                    </td>

                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url }}">
                    <span aria-hidden="true">&larr;</span>
                    {{ _('Previous results') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url }}">
                    {{ _('Next results') }}
                    <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <script>
        $(document).ready(function () {
            $('#table1').DataTable({
                pageLength: 25,
                searching: false,
                "drawCallback": function (settings) {
                    MathJax.typeset();
                    injectCopyButton();
                }
            });
        });
    </script>
{% endblock %}