{% extends 'base.html' %} 
{% block content %} 
<link rel="stylesheet" type="text/css" href="/static/css/show-equation-page.css"/>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}

  });

</script>

<h2>{{eq_data[1]}}</h2>
<p><font size="5" class="smallIndent">\( {{eq_data[2]}} \)</font></p>
<!-- <div>
    <h5>Equation ID :</h5>
    <p>{{eq_data[0]}}</p>
</div> -->
<!-- This should be ignore but it does not work, and I have no idea why -->
<div class="tex2jax_ignore">
    <h5>LaTeX Code :</h5>
    <p class="rawLatexCode smallIndent">{{eq_data[2]}}</p>
</div>
<div>
    <h5>Description :</h5>
    <p class="smallIndent">{{eq_data[5]}}</p>
</div>
<div>
    <h5>Tags :</h5>
    <p class="smallIndent">{{eq_data[3]}}</p>
</div>
<div>
    <h5>Origin :</h5>
    <p class="smallIndent">{{eq_data[4]}}</p>
</div>

{% endblock %}

{% block scripts %}
    <script>
       injectCopyButton();
    </script>
{% endblock %}
