{% extends 'base.html' %}
{% block content %}

    <table id="table1" class="display compact table" width="100%" cellspacing="0">
        <thead class="thead-inverse">
        <th>ID</th>
        <th>Name</th>
        <th>Content</th>
        <th>Tags</th>
        <th>Origin</th>
        <th>Description</th>
        </thead>
    </table>

{% endblock %}

{% block scripts %}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.21/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.21/datatables.min.js"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <script>
        $(document).ready(function () {
            $('#table1').DataTable({
                serverSide: true,
                searching: false,
                ajax: {
                    url: '/apitable',
                    type: 'POST'
                },
                columns: [
                    {"data": "id"},
                    {"data": "name"},
                    {"data": "latexcontent"},
                    {"data": "tags"},
                    {"data": "origin"},
                    {"data": "description"}
                ],
                "drawCallback": function (settings) {
                    MathJax.typeset();
                    injectCopyButton();
                }
            });
        });

    </script>
{% endblock %}