.clipboard-button {
	border: 1px solid #005abb;
	background: #0071ea;
	border-radius: 3px;
	font-size: 10;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;
}

.clipboard-button:hover {
	border: 1px solid #2d86e5;
	background: #3295ff;
}

.clipboard-button:active {
	border: 1px solid #549ff0;
	background: #59a9ff;
}
